*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding-top: 1vh;
    padding: 0 3vw;
}
#page1 h1{
    font-size: 31vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    padding-top: 14%;
    font-weight: 900;
    line-height: 11vw;
    text-align: center;
    letter-spacing: -1px;
}
#video-c video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-top: 5vh;
}
#video-c #play{
    position: fixed;
    padding: 2.5vw 2vw;
    background-color: black;
    color: #fff;
    font-size: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 55%;



}